:root {
  --wood-color: hsl(35, 68%, 42%);
  --paper-color: hsl(48deg 100% 75%);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: hsla(0, 0%, 100%, 0.87); */
  color: hsla(0, 0%, 0%, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  background: var(--wood-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  border: 2px solid brown;
  position: relative;
  width: 800px;
  height: 500px;
}

.page {
  border: 1px solid wheat;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  perspective: 1500px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background: var(--paper-color);

  transform-origin: left;
  transition: transform 0.8s;
}
.front {
  backface-visibility: hidden;
  z-index: 1;
}
.back * {
  transform: rotateY(180deg);
  z-index: 0;
}
.front h2,
.back h2,
.front h3,
.back h3 {
  text-align: center;
}

.page:nth-of-type(1) {
  z-index: 3;
}
.page:nth-of-type(2) {
  z-index: 2;
}
.page:nth-of-type(3) {
  z-index: 1;
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.flipper {
  z-index: 10;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 100%;
  border: 1px solid green;
}
.flipper.left {
}
.flipper.right {
}

@media (orientation: portrait) {
}
